html {
    box-sizing: border-box;
    background: #64D7E0;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

body, * {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    text-shadow: 1px 1px rgba(0,0,0,0.7);
}

.panel {
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;

    transition:
    font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel > *:first-child {
    transform: translateY(-100%);
}

.panel > *:last-child {
    transform: translateY(100%);
}

.panel1 {
    background-image: url('./img/clem-onojeghuo-245626.jpg');
}

.panel2 {
    background-image: url('./img/hiep-nguyen-410749.jpg');
}

.panel3 {
    background-image: url('./img/casey-horner-353950.jpg');
}

.panel4 {
    background-image: url('./img/matthew-kane-376554.jpg');
}

.panel5 {
    background-image: url('./img/james-donaldson-365418.jpg');
}

.panels p {
    font-size: 2.5rem;
}

.panels p.middle {
    font-size: 5rem;
}